dist: xenial

addons:
  apt:
    packages:
      - libpng-dev
      - libgtest-dev

language: cpp

compiler:
  - gcc

script:
  - ./compile.sh
  - ./build/nn example.png output.png

notifications:
  email:
    recipients:
      - rugleb@gmail.com
    on_success: never
    on_failure: always
