language: cpp

jobs:
  include:
    - os: linux
      dist: xenial
    - os: osx
      osx_image: xcode8

compiler:
  - gcc
  - clang

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - cmake

script:
  - ./compile.sh
  - ./build/bin/nn example.png output.png

notifications:
  email:
    recipients:
      - rugleb@gmail.com
    on_success: never
    on_failure: always
