dist: xenial

language: cpp

compiler:
  - gcc
  - clang

script:
  - ./compile.sh
  - ./build/bin/nn example.png output.png

notifications:
  email:
    recipients:
      - rugleb@gmail.com
    on_success: never
    on_failure: always
